ACCOUNT_ID="<account id>"
ACCESS_KEY_ID="<access key id>"
SECRET_ACCESS_KEY="<secret access key>"
BUCKET_NAME="<name of the bucket>"

REPORT_EMAIL_TO="<email to send the report to>"
REPORT_EMAIL_FROM="<email to send the report from>"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="<email to send the report from>"
SMTP_PASSWORD="<password for the email>"